<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>myDateTime月末日付</Title>
      <Shortcut>myDateTime月末日付</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[
          DateTime.Now.AddMonths(1).AddDays(-1);
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
