<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>今月末日</Title>
      <Shortcut>myDateTime</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[
          new DateTime(d.Year, d.AddMonths(1).Month, d.Day).AddMinutes(-1); 
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
