<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>myDateTime</Title>
      <Shortcut>myDateTime</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[String timestamp = DateTime.Now.ToString("yyyy/MM/dd (dddd) hh時mm分ss秒");]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
