<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>半角英数字のみ</Title>
      <Shortcut>myRegex</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[Match match = Regex.Match(str	, @"^[0-9a-zA-Z]+$");]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
