<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets
    xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>my標準出力_ディクショナリ</Title>
      <Shortcut>my標準出力_ディクショナリ</Shortcut>
    </Header>
    <Snippet>
      <Code Language="cSharp">
        <![CDATA[dict.ToList().ForEach(e => Console.WriteLine(e.Key + " " + e.Value));]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
